ProyectoAlmacen/xml-resources/web-service-references/AlmacenService/wsdl/localhost_65513/AlmacenService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceAlmacen.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceAlmacen.Entities"><xs:complexType name="StandardResponse"><xs:sequence><xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Resultado" type="xs:boolean"/></xs:sequence></xs:complexType><xs:element name="StandardResponse" nillable="true" type="tns:StandardResponse"/><xs:complexType name="ArrayOfDetalleCompra"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleCompra" nillable="true" type="tns:DetalleCompra"/></xs:sequence></xs:complexType><xs:element name="ArrayOfDetalleCompra" nillable="true" type="tns:ArrayOfDetalleCompra"/><xs:complexType name="DetalleCompra"><xs:sequence><xs:element minOccurs="0" name="Cantidad" type="xs:int"/><xs:element minOccurs="0" name="NumeroProducto" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="DetalleCompra" nillable="true" type="tns:DetalleCompra"/></xs:schema>